/* reset styles  */

*{
    color:inherit;
    margin: 0;
}

body{
    font-family: Roboto;
}

ul{
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}