@mixin prefix($declarations, $prefixes: ()) {
    @each $property, $value in $declarations {
      @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
      }
  
      // Output standard non-prefixed declaration
      #{$property}: $value;
    }
  } 

  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;

    .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
       @include prefix((transition: transform 0.8s, transform-style: preserve-3d ), webkit moz ms o);
      }
      &:hover .flip-box-inner{
        @include prefix((transform: rotateY(180deg)), webkit moz ms o);
      }

      .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        @include prefix((backface-visibility: hidden ), webkit moz ms o);
      }

      .flip-box-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-box-back {
        background-color: dodgerblue;
        color: white;
        @include prefix((transform: rotateY(180deg) ), webkit moz ms o);
      }
  }
  
  