@mixin btn($bg-color:#e2e2e2,  $border-radius:0){
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: $base-padding $base-padding*2;
    border-radius: $border-radius;
    background-color: $bg-color;
    border: 0
}
.btn{
    @include btn;
}

@each $key, $val in $colors{
    .btn-radius-#{$key}{
        @include btn($val, $base-border-radius);
        color: white;
        border: 0;
        &:hover{
            background-color: lighten($val, 5)
        }
    }
    .btn-#{$key}{
        @include btn($val);
        color: white;
        border: 0;
        &:hover{
            background-color: lighten($val, 5)
        }
    }
    .btn-radius-outlined-#{$key}{
        @include btn(#fff, $base-border-radius);
        border: $base-border-thickness solid $val;
        color: $val;
        &:hover{
            background-color: $val;
            color:white;
        }
    }
    .btn-outlined-#{$key}{
        @include btn(#fff);
        border: $base-border-thickness solid $val;
        color: $val;
        &:hover{
            background-color: $val;
            color:white;
        }
    }
    .btn-complement-#{$key}{
        @include btn($val);
        color:light-comp($val);
        &:hover{
            color:$val;
            background-color: light-comp($val);
        }
    }
}