@use 'sass:math';

.card{
    display: block;
    border: $base-border-thickness solid #ddd;
    box-shadow: 1px 1px .1em 1px $shadow;
    padding: $base-padding;
    border-radius: math.div($base-border-radius,4);

    .card-title{
        font-size: $base-font-md;
        font-weight: bold;
        padding-bottom: $base-padding;
    }
    .card-body{
        font-size: $base-font-size;
    }

}