
.dropdown-menu{
  position: absolute;
  top: 55px;
  box-shadow: $base-box-shadow;
  line-height: 55px;
  border-top: 4px solid;
  display: none;
  li{
    padding: 0 10px;
  }
}

li{
  &:hover{
    .dropdown-menu{
      display: block;
       transition: all 0.5s;
     }
     .mega-5-menu, .mega-4-menu, .mega-3-menu, .mega-2-menu{
      display: block;
    }
  } 
  .mega-5-menu, .mega-4-menu, .mega-3-menu, .mega-2-menu{
    display: none;
  }
}

@mixin  megamenu($n){
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 60px;
    box-shadow: $base-box-shadow;
    left: 0;
    z-index: 999;
    flex-wrap: wrap;
    .container{
      flex-wrap: wrap;
    }
   
      .mega-menu-logo{
        margin: 5px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 15%;
        display: block;
      }
      .mega-menu-container{
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 80%;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
      }
   
      .mega-menu-item
      {
        flex: 0 0 #{$n}; 
        margin: 5px;
        line-height: 40px;
        @media (max-width: 480px) {
          flex: 1 0 #{$n}; 
        }

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        h2{
          border-bottom: 3px solid #ff652f;
          font-weight: 500px;
          margin: 0 20px;
        }

      &:last-child
      {
        .mega-menu-links{
          border-right: none;
          @media (max-width: 480px) {
            border-bottom: 0; 
          }
        }
      }
  } 

    .mega-menu-links{
      border-right: 1px solid rgba(101, 99, 99, 0.5);
      @media (max-width: 480px) {
        border: 0;
        border-bottom: 1px solid rgba(101, 99, 99, 0.5); 
      }
      li{
        padding: 0 20px;
      }
    }
}


.mega-5-menu{
  @include megamenu(17%);
}


.mega-4-menu{
  @include megamenu(21%);
}

.mega-3-menu{
  @include megamenu(31%);
}
.mega-2-menu{
  @include megamenu(45%);
}